.card {
	width: 300px;
}

.canvas {
	width: 500px;
	height: 600px;
	background-color: #4d0f00;
	overflow: hidden;
	filter: blur(2px);
}

.frame {
	border: black 50px solid;
	width: 500px;
	padding: 50px;
	margin: 20px auto;
}
