:root {
	--color-frame: #000;
	--color-canvas: #4b054c;
}

.card {
	width: 300px;
}

.canvas {
	width: 500px;
	height: 600px;
	background-color: var(--color-canvas);
	overflow: hidden;
	filter: blur(2px);
}

.frame {
	border: var(--color-frame) 50px solid;
	width: 500px;
	padding: 50px;
	margin: 20px auto;
}
